@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.main-video {
    max-width: 320px;
    max-height: 179px;
    
    @include tablet {
        max-width: 696px;
        max-height: 390px;
    }
    @include desktop {
        max-width: 850px;
        max-height: 475px;
    }
}
.main-video__container {
    background: black;
    display: flex;
    justify-content: center;
}

