@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.form {
    margin: 0 1rem;

    &__container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px #e1e1e1 solid;
    }
    &__comment-count {
        font-size: .8125rem;
        font-weight: 700;
        padding-bottom: 1rem;
    }
    &__avatar {
        margin-top: 1.15rem;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        background: url('../../assets/images/Mohan-muruge.jpg');
        background-size: cover;
    }
    &__input {
        padding: .5rem .75rem 5rem .75rem;
        background: #fafafa;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        margin-bottom: 1rem;
        max-width: 100%;
    }
    ::placeholder {
        color: black;
        font-size: .75rem;
        font-family: 'Avenir-Regular';
    }
    &__section {
        display: flex;
        flex-direction: column;
        width: 82%;
    }
    &__title {
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 700;
        color: #afafaf;
        padding-bottom: .25rem;
        padding-left: 3.25rem;
    }
    &__button {
        color: white;
        background: url('../../assets/icons/add_comment.svg') no-repeat;
        background-color: #0095ff;
        background-position: 4% 50%;
        background-size: 1.15rem;
        border: none;
        border-radius: 4px;
        text-transform: uppercase;
        padding: .65rem 0;
        font-size: .75rem;
    }
    @include tablet {
        padding: 0 2.25rem;
        &__container {
            align-items: flex-end;
            padding-bottom: 1.5rem;
        }
        &__avatar {
            margin: 0;
            height: 2.5rem;
            width: 2.5rem;
        }

        &__comment-count {
            font-family: 'Avenir-Bold';
            font-size: .875rem;
            padding-bottom: 1.25rem;
        }
        &__section {
            flex-direction: row;
            justify-content: space-between;
            width: 92%;
        }
        &__input {
            padding: .5rem .75rem .5rem .75rem;
            background: #fafafa;
            border: 1px solid #e1e1e1;
            border-radius: 4px;
            margin-bottom: 0rem;
            max-width: 100%;
        }
    }
}
