@use './mixins' as *;

@font-face {
    font-family: 'Avenir-Regular';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir-Bold';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 600;
}

body {
    margin: 0;
    font: 1rem 'Avenir-Regular';
}