@use './mixins' as *;

@font-face {
    font-family: 'Avenir-Regular';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'Avenir-Bold';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
}

body {
    margin: 0 0 1.25rem;
    font: .8125rem 'Avenir-Regular';
    color: #323232;
    @include tablet {
        font-size: .875rem;
    }
    @include desktop {
        font-size: .875rem;
        margin: 0;
        
    }
}

h1, h2, p {
    margin: 0;
}

input:focus {
    outline: 2px solid #0095ff;
}

input:invalid {
    outline: 1px solid #d22d2d;
}

button {
    cursor: pointer;
    &:hover {
        background-color: #0065ad;
    }
}