@use './mixins' as *;

@font-face {
    font-family: 'Avenir-Regular';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400, 700;
}


body {
    margin: 0;
    font: 1rem 'Avenir-Regular';
    color: #323232;
}

h1, h2 {
    margin: 0;
}

p {
    margin: 0;
}