@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
}
@mixin avatar-small {
    height: 2.5rem;
    width: 2.5rem;
}
@mixin avatar-smaller {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
}