@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.header {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
    &__logo {
        margin: 0 auto;
        height: 25px;
        width: 120px;
        cursor: pointer;
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        &-bar {
        flex-grow: 1;
        padding: .6rem 0 .6rem 2rem;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        margin: 1rem 0;
        background: #fafafa url('../../assets/icons/search.svg') no-repeat .6rem;
        background-size: 1rem;
        }
        ::placeholder {
            color: black;
            font: .75rem 'Avenir-Regular';
        }
    }
    &__avatar {
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        background: #e1e1e1 url('../../assets/images/Mohan-muruge.jpg');
        background-size: cover;
        margin-left: 1rem;
        cursor: pointer;
    }
    &__button {
        color: white;
        width: 100%;
        background: #0095ff url('../../assets/icons/upload.svg') no-repeat 3% 50%;
        background-size: 1.25rem;
        border: none;
        border-radius: 4px;
        text-transform: uppercase;
        padding: .65rem 0;
        font-size: .75rem;

        &-link {
            width: 100%;
        }
    }
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: .25rem 2.25rem;
        &__logo {
            margin: 0;
        }
        &__search {
            flex-wrap: nowrap;
            width: 30rem;

            &-bar {
                margin: 0;
                flex-grow: 0;
                width: 13.5rem;
                padding: .7rem 0 .7rem 2rem;
            }
        }
        &__avatar {
            order: 2;
            margin: 0;
            height: 2.5rem;
            width: 2.5rem;
        }
        &__button, &__button-link {
            width: 9.5rem;
            padding: .75rem 0;
        }
    }
    @include desktop {
        margin: .25rem 8.75rem .25rem 8rem;
        
        &__search {
            width: 31.5rem;
        }
        &__avatar {
            margin-left: 1rem;
        }
        &__button {
            width: 9.5rem;
            padding: .75rem 0;
        }
    }
}


