@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.comments {
    @include flex-between;
    margin: 0 1rem;
    font-size: .8125rem;
    border-bottom: 1px #e1e1e1 solid;
    
    &__avatar {
        margin: .75rem 0 0;
        @include avatar-smaller;
        background: #e1e1e1;
        background-size: cover;
        cursor: pointer;
    }
    &__text-container {
        width: 82%;
    }
    &__name-date {
        @include flex-between;
        padding: .75rem 0 .5rem;
    }
    &__name {
        font-weight: 700;
    }
    &__date {
        color: #afafaf;
    }
    &__comment {
        padding-bottom: .5rem;
        line-height: 1.15rem;
    }
    @include tablet {
        margin: 0 2.25rem;

        &__avatar {
            @include avatar-small;
            margin: 1.5rem 0 0;
        }
        &__text-container {
            width: 91%;
            font-size: .875rem;
            line-height: 1.375rem;
        }
        &__name-date {
            padding: 1.5rem 0 .25rem;
        }
        &__comment {
            padding-bottom: 1.25rem;
            line-height: 1.375rem;
        }
    }
    @include desktop {
        margin: 0 0 0 8rem;
        border-top: 1px #e1e1e1 solid;
        border-bottom: none;
        padding-right: 1.5rem;
        
        &__comment {
            padding-right: 2rem;
        }
    }
}