@use './styles/partials/mixins' as *;

@include desktop {
    .page-components {
        display: flex;
    }
    .details-comments {
        display: flex;
        flex-direction: column;
        width: 65%;
    }
    .next-videos {
        border-left:  1px #e1e1e1 solid;
        width: 35%;
        padding-bottom: 2.5rem;
    }
}
